main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    h1{
        font-size: 96px;
        color: #fff;
    }
    p{
        font-size: 48px;
        color: #656565;
    }button{
        color: #000;
        border-radius: 20px;
        cursor: pointer;
        padding: 16px 60px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }








}