nav{
    display: flex;
    justify-content: center;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: "Ranade";
    font-weight:700;
}
.links{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #fff;
    border-radius: 999px;
    padding: 6px 8px;
    position: relative;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
}
.slider {
    position: absolute;
    height: calc(100% - 8px);
    background-color: #fff;
    border-radius: 999px;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 0;
}
.links a{
    color: #fff;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 999px;
    transition: color 0.2s;
    position: relative;
    z-index: 1;
}
.links a.active{
    color: #000;
}
