#SocialBar{
    display: flex;
    justify-content: right;
    padding: 16px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    flex-direction: column;
    border: 1px dashed #fff;
    border-radius: 999px;
    padding: 12px 5px;
    backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0.3, 0.6);
}
#SocialBar a{
    font-size: 45px;
    padding: 8px;
    
}