*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}
@font-face {
  font-family:"Ranade";
  src:url(./assets/Ranade_Complete/Fonts/TTF/Ranade-Variable.ttf);
  
}