*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}
@font-face {
  font-family:"Ranade";
  src:url(./assets/Ranade_Complete/Fonts/TTF/Ranade-Variable.ttf);
  
}
.botao-tema{
        color: #000;
        border-radius: 40px;
        cursor: pointer;
        padding: 10px 15px;
        font-size: 10px;
        font-family: "Ranade";
        font-weight: 700;
}